/*-----------------------Navbar----*/

.navbar {
  margin: 0;
  border: 0;
  background-color: #000000cc;
  border: 0;
  color: #218cf8;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 50px;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

@media (max-width:768px) {
  .navbar {
    line-height: 50px;
    height: 50px;
  }
}

.navbar .navbar-brand {
  color: #d4d9de;
  display: inline-block;
  line-height: 50px;
  padding: 0;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 26px;
}

@media (max-width:767px) {
  .navbar .navbar-brand {
    float: right;
    padding-right: 40px;
    line-height: 50px;
    height: 50px;
    font-size: 18px;
  }
}

.navbar .navbar-brand img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 7px;
  margin-bottom: 6px;
}

@media (max-width:768px) {
  .navbar .navbar-brand img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 7px;
    margin-bottom: 4px;
  }
}

.navbar-collapse {
  height: 50px;
  padding: 0;
}

@media (max-width:768px) {
  .navbar-collapse {
    height: 50px;
  }
}

.navbar-nav {
  float: right;
  padding: 0;
  list-style: none;
  height: 50px;
}

@media (max-width:768px) {
  .navbar-nav {
    height: 50px;
  }
}

.nav-item a {
  text-decoration: none;
  color: #c8ccd1;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  display: block;
  font-size: 15px;
}

@media (max-width:768px) {
  .nav-item a {
    height: 50px;
  }
}

/*-----------------------Navbar hover animations----*/

.hvr-sweep-to-bottom:before {
  background-color: #000;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.nav-item a:hover{
  color: #fff;
}

.navbar .navbar-brand:hover {
  color: #fff;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

/*-----------------------Navbar dropdown menu----*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  float: left;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid #c6c8ca;
  border-bottom: none;
  border-top: none;
  border-left: none;
  font-size: 15px;
}

@media (max-width:768px) {
  .dropdown button {
    height: 50px;
    width: 50px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #218cf8;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 60px;border: 3px, solid, #000; 
}

@media (max-width:768px) {
  .dropdown-content {
    margin-top: 50px;
  }
}

.dropdown-content a {
  color: black;
  padding: 10px 16px 10px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px solid #000;

}

.dropdown-content a i {
  padding-left: 2px;
  padding-right: 7px;
  font-size: 18px;
}

.dropdown-content a text {
  padding-left: 5px;
  font-size: 15px;
}

.show {display:block;}

.dropbtn:hover, .dropbtn:focus {
  background-color: #218cf8;
  color: #000;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.dropdown-content a:hover {
    background-color:  #165da5;
    border: 3px solid #000;
}
